<ul class="collection with-header">
  <li class="collection-header teal white-text">
    <h5>{{metadata.total}} comics available</h5>
  </li>
  {{#each comic in model}}
    <li class="collection-item flow-text">{{comic.title}}</li>
  {{/each}}
</ul>
<div class="center-align section">
  {{md-btn id="loadmore" text="Load more comics" buttonType='large'}}
</div>
