<ul class="collection with-header">
  <li class="collection-header indigo white-text">
    <h5>{{events.available}} events available</h5>
  </li>
  {{#each event in events.items}}
    <li class="collection-item flow-text">{{event.name}}</li>
  {{/each}}
</ul>
<div class="center-align section">
  {{md-btn id="loadmore" text="Load more events" buttonType='large' class="indigo"}}
</div>
