<div class="navbar-fixed">
  {{#md-navbar name='Ember Marvel' class="blue-grey darken-4"}}
    <li>{{#link-to 'characters'}}Characters{{/link-to}}</li>
  {{/md-navbar}}
</div>
<main>
  {{outlet}}
</main>
<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What is Ember Marvel ?</h5>
        <p class="grey-text text-lighten-4">
          Ember Marvel is just a playground using EmberJS, the Marvel API, and some Material design.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4" href="http://marvel.com">
        Data provided by Marvel. © 2015 MARVEL
      </a>
      <a class="grey-text text-lighten-4 right" href="https://github.com/nicolaschenet/ember-marvel">
        See on Github
      </a>
    </div>
  </div>
</footer>
{{md-modal-container}}
