<div class="valign-wrapper App-loader">
  <div class="center-align valign">
    {{md-loader mode="circular" size="small"}}
    <p class="flow-text grey-text">That's a free API... Go grab a beer</p>
    <i class="mdi-action-favorite red-text"></i>
  </div>
</div>
