<div class="valign-wrapper App-loader">
  <div class="center-align valign">
    {{md-loader mode="circular" size="small"}}
    <p class="flow-text">Free API. Go grab a beer</p>
    <i class="mdi-action-favorite"></i>
  </div>
</div>
